@charset "utf-8";
/*
    CIS 155 12126
    CIS 155 Quarter Project
    
    Choose Your Own Adventure Style Sheet
    Author: True Sparrow
    Date: 5.1.2020  
   
   Filename: ph_styles.css

*/


/* Structural Styles */

/* M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this item should be specified 2 times, once where precedence is applied and once where inheritance is applied; see 2-3d Style Specificity and Precedence, and 2-3e Style Inheritance) 
In the case of html it's inheritance as it applies these settings to any part of the document that isn't more specific (the black background will point out any visual content that isn't part of the body and the font is because I wan't it to be fairly uniform right now)*/
html{
    background-color: black;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}
body{
    background-color: grey;
}


/* M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this item should be specified 2 times, once where precedence is applied and once where inheritance is applied; see 2-3d Style Specificity and Precedence, and 2-3e Style Inheritance) 
In the case of the body header it's precedence as I've deliberately specific as to override the grey back ground and regular font-color with specific colors*/
body header{
    background-color: rgb(51, 51, 51);
    background-color: hsl(0, 0%, 20%);
    color: white;
}
body footer{
    vertical-align: bottom;
    margin-bottom: 0em;
    background-color: rgb(51, 51, 51);
    background-color: hsl(0, 0%, 20%);
    color: white;
}



/* Navigation Styles */
a:link {
    color: white;
}
a:visited {
    color: hsl(0, 0%, 60%);
}
a:active, a:hover {
    color: hsl(0, 0%, 30%);
}
nav ul{
    background-color: hsl(0, 0%, 20%);
    list-style-type: none;
    font-size: 3rem;
}
nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
}
nav a:hover, nav a:active {
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 10%);
}
/* M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times, show one pseudo-class and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements) */
nav#top ul li.first-of-type{
    font-weight: bolder;
}
/* Footer Semi-Nav Styles */
footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
}
footer a:hover, footer a:active {
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 10%);
}

/* Section Styles */
article p{
    text-indent: 3rem;
}
body article{
    background-color: rgb(51, 51, 51);
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding-top: 10px;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
    line-height: 1.5rem;
}
body article section {
    text-align: center;
}
section ul li{
    list-style-type: none;
}