@charset "utf-8";
/*
    CIS 155 12126
    CIS 155 Quarter Project
    
    Choose Your Own Adventure Style Sheet
    Author: True Sparrow
    Date: 5.1.2020  
   
   Filename: ph_styles.css

*/


/* Structural Styles */

/*Root Inheritance Styling*/
/* M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this item should be specified 2 times, once where precedence is applied and once where inheritance is applied; see 2-3d Style Specificity and Precedence, and 2-3e Style Inheritance) 
 This uses inheritance as it applies these settings to any part of the document that doesn't have attributed background color with precedence like the body which is also grey due to it's lack of back-ground color setting*/
html{
    /*M2LO15 Apply colors using CSS (CSS, see 2-5 Working with Color in CSS)
    this changes the background color to grey which then can be overridden by other statements with precedence*/
    background-color: grey;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

/*Header Styling*/
/* M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this item should be specified 2 times, once where precedence is applied and once where inheritance is applied; see 2-3d Style Specificity and Precedence, and 2-3e Style Inheritance) 
In the case of the body header it's precedence as I've deliberately made it more specific as to override the grey back ground and regular font-color with specific colors*/
body > header{
    /*M2LO14 Demonstrate and explain the use of progressive enhancement in CSS (CSS, see 2-6 Employing Progressive Enhancement)
    I put the background in rgb as the older standard and should it understand the newer hsl it'll automatically override. For the conversion to rgb in the few I did this way, I used this https://www.rapidtables.com/convert/color/hsl-to-rgb.html*/
    background-color: rgb(51, 51, 51);
    background-color: hsl(0, 0%, 20%);
    color: white;
}
/*footer styling*/
/* M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types of contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook)
this is the parent child selector which selects based on the context of a parent-child relationship*/
body > footer{
    /*M2LO12 Demonstrate how CSS can change presentation of page elements (CSS, these are styles that impact page elements rather than impacting text on the page)
    Everything here is page elements except for color as that changes the text color*/
    vertical-align: bottom;
    margin-bottom: 0em;
    background-color: rgb(51, 51, 51);
    background-color: hsl(0, 0%, 20%);
    color: white;
}



/* Navigation Styles */
/* M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times, show one pseudo-class and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements) 
This is a pseudo class that refers to hyperlink states using :link to refer to it's resting state and the rest for when you interact in various ways*/
/*This sets the default hyperlink style*/
a:link {
    color: white;
}
a:visited {
    color: hsl(0, 0%, 60%);
}
a:active, a:hover {
    color: hsl(0, 0%, 30%);
}
/* these set the standard nav hyperlink style*/
nav > ul{
    background-color: hsl(0, 0%, 20%);
    list-style-type: none;
    /*M2LO13 Demonstrate how CSS can change presentation of textual elements (CSS, these are styles that impact text that is rendered on the page)
    font-size changes the font size which of course is as part of textual elements*/
    font-size: 1.5rem;
}
nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
}
nav a:hover, nav a:active {
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 10%);
}

/* Footer Semi-Nav Styles */
footer a:link, footer a:visited {
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
}
footer a:hover, footer a:active {
    color: hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 10%);
}

/* Section Styles */
/*these are the articles formatting portions*/
article > p{
    text-indent: 3rem;
}
body > article{
    background-color: rgb(51, 51, 51);
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding-top: 10px;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 1em;
    line-height: 1.5rem;
}
/*Below are  formatting related to the choice sectioning*
/*M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors) 
this is the class one as its using the .choice class*/
body section.choice {
    text-align: center;
}
/* M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types of contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook)
this is the parent descendant selector, meaning it doesn't have to be an immediate child/descendant and instead can be below one of the childs*/
section.choice li{
    list-style-type: none;
}
/*these are somewhat strange ones I added for some of the requirements and to have interesting effects*/

/* M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times, show one pseudo-class and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements) 
This is a pseudo element that makes it so the first letter of an article is big.*/

article::first-letter{
    font-size: 1.5em;
}
/*M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors) 
this is the id as it uses the #big is for selection*/
#big{
    font-size: 1.4em;
}